body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(254, 250, 239) !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bodyDiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
}

.background-grey {
    background-color: rgb(174, 174, 173) !important;
}

.card {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mainDiv {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: rgb(39, 53, 92);
    padding-top: 20px;
}

.card-img-top {
    height: 70px;
    width: auto !important;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
    color: white !important;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.btn-warning {
    --bs-btn-bg: #FF4E11 !important;
    --bs-btn-border-color: #FF4E11 !important;
    --bs-btn-hover-bg: hsl(21, 100%, 66%) !important;
    --bs-btn-hover-border-color: hsl(21, 100%, 66%) !important;
    --bs-btn-active-bg: hsl(21, 100%, 66%) !important;
    --bs-btn-active-border-color: hsl(21, 100%, 66%) !important;
    --bs-btn-disabled-bg: #FF4E11 !important;
    --bs-btn-disabled-border-color: #FF4E11 !important;
}

.resultCard {
    display: flex;
    justify-content: center;
}

.leftResultCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.trophy {
    display: none;
    height: calc(90vw* 0.3);
    position: absolute;
    right: 0;
}

.show {
    display: block;
}

.orange {
    color: hsl(21, 100%, 66%);
}

.btn-width {
    width: 150px;
}

.brainResult {
    height: 150px;
    width: auto;
}

footer {
    height: 100px;
    width: 100%;
    display: flex;
    background-color: rgb(174, 174, 173) !important;
    align-content: center;
    justify-content: center;
    align-items: center;
}